#home {
  .card {
    width: 400px;
    min-height: 100px;
    margin: 15px;
    position: absolute;
    z-index: 1;
    .card__title {
      padding: 15px;
      display: flex;
      justify-content: space-between;
      .btn {
        margin: 0;
        padding: 0;
      }
    }
    .head-drag {
      cursor: grab;
    }
    .padding {
      padding: 16px;
    }
    .h-padding {
      padding: 16px 0;
    }
    .v-padding {
      padding: 0 16px;
    }
    .progress-linear {
      margin: .5rem 0;
    }
  }
  .muuri-item-dragging {
    z-index: 3 !important;
    .head-drag {
      cursor: grabbing;
    }
  }
  .muuri-item-releasing {
    z-index: 2 !important;
  }
  .muuri-item-hidden {
    z-index: 0 !important;
  }
}
