.card {
  width: 400px;
  margin: 15px;
  position: absolute;
  z-index: 1;
  .card-header {
      padding: 15px;
      cursor: pointer;
  }
}
.muuri-item-dragging {
  z-index: 3!important;
}
.muuri-item-releasing {
  z-index: 2!important;
}
.muuri-item-hidden {
  z-index: 0!important;
}
