
// Colours

$color-white: #fff;
$color-black: #000;
$color-grey: #999;
$color-grey-light: #fafafa;
$color-grey-shadow: rgba(0, 0, 0, 0.1);

// Fonts

$font-stack-default: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-color-default: $color-white;

// Options

$transition-speed: 0.5s;
$border-radius: 5px;
