{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["Firefox >= 54", "Chrome >= 54"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
