@import '../../assets/scss/functions';
@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

// Animations

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in-up {
    from {
        transform: translate(-50%, -0%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

// Fonts

@font-face {
    font-family: 'ArtillWeatherFont';
    src: url('fonts/artill_clean_icons-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Styles

.fancy-clock {

    color: $color-white;
    height: 100%;
    width: 100%;

    &::after {
        content: "";
        background-image: linear-gradient(180deg, transparent 50%, $color-black 100%);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
    }

}

.message {

    font-size: pxrem(52px);
    line-height: pxrem(42px);
    animation: fade-in-up 1s forwards;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.9), 0 0 80px rgba(0, 0, 0, 0.9);
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 3;

    &--fade-out {
        animation: fade-out 1s forwards;
    }

    @include mq(s) {
        font-size: pxrem(32px);
        line-height: pxrem(22px);
    }

    @include mq(xs) {
        font-size: pxrem(28px);
        line-height: pxrem(18px);
    }

}

.datetime {

    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 4;

    &__time {

        font-size: pxrem(52px);
        line-height: pxrem(42px);
        font-weight: $font-weight-light;
        margin-bottom: 10px;
        margin-left: -3px;

        @include mq(l) {
            font-size: pxrem(62px);
            line-height: pxrem(52px);
        }

    }

    &__date {

        @include mq(l) {
            font-size: pxrem(16px);
            line-height: pxrem(16px);
        }

    }

}

.weather {

    position: absolute;
    bottom: 25px;
    right: 25px;
    text-align: right;
    z-index: 4;

    &__cond, &__temp {
        vertical-align: middle;
        display: inline-block;
    }

    &__temp {

        @include mq(l) {
            font-size: pxrem(16px);
            line-height: pxrem(16px);
        }

    }

    &__cond {

        font-size: pxrem(30px);
        line-height: pxrem(30px);
        font-family: 'ArtillWeatherFont';

        @include mq(l) {
            font-size: pxrem(36px);
            line-height: pxrem(36px);
        }

    }

}

.gallery {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    &__slide {
        animation: fade-in 1s forwards;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}
