#weather {
  .left {
    padding: 16px 16px 12px;
    .today .v-image {
      width: 100px;
    }
    .forecast .v-image {
      width: 24px;
      height: 24px;
    }
  }
  .weather-info {
    padding: 50px 16px 16px;
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .small-font {
        font-size: 70%;
      }
    }
  }
}
