#weather {
  .left {
    padding: 16px 16px 12px;

    .day-error {
      min-height: 35px;
    }

    .today {
      padding: 10px 0;

      .v-image {
        max-width: 100px;
        margin: auto;
      }
    }

    .forecast .v-image {
      width: 24px;
      height: 24px;
    }
  }

  .weather-info {
    padding: 50px 16px 16px;
    min-height: 100px;

    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        line-height: normal;
      }

      .small-font {
        font-size: 80%;
      }
    }
  }
}
