#weather {
  .left {
    padding: 28px 16px 16px;
    ;
    i {
      font-size: 80px;
    }
    .main {
      img {
        width: 100px;
      }
      .temp {
        font-size: 60px;
        display: flex;
        align-items: flex-start;
        .unit {
          font-size: 15px;
          padding: 15px 0;
        }
      }
    }
    .forecast {
      img {
        width: 24px;
        height: 24px;
      }
    }
    .city {
      justify-content: flex-end;
      display: flex;
      font-size: 10px;
      padding-bottom: 15px;
      i {
        font-size: 14px;
      }
    }
  }
  .weather-info {
    padding: 60px 16px 16px;
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      margin: 8px 0;
      .unit {
        font-size: 60%;
      }
      i {
        font-size: 28px;
      }
      .sun {
        align-items: flex-end;
        font-size: 19px;
        line-height: 1;
      }
    }
  }
  .weather-loader {
    margin: 66px 15px 15px;
  }
}
