#weather {
  .left {
    padding: 66px 16px 16px;
    ;
    i {
      font-size: 80px;
    }
    .main {
      padding-bottom: 15px;
      img {
        width: 100px;
      }
      .temp {
        font-size: 60px;
        display: flex;
        align-items: flex-start;
        .unit {
          font-size: 15px;
          padding: 15px 0;
        }
      }
    }
    .city {
      i {
        font-size: 14px;
      }
      padding: 0 15px;
      font-size: 10px;
    }
  }
  .weather-info {
    padding: 60px 16px 16px;
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 20px;
      margin: 8px 0;
      i {
        font-size: 28px;
      }
    }
  }
}
