@import '../../assets/scss/functions';
@import '../../assets/scss/mixins';

.rss {

    h3 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #ff6600;
        color: #fff;
        margin: 0 0 10px 0;
        padding: 10px 15px;
        text-align: center;
        height: 46px;
    }

    ul {

        list-style-type: none;
        margin: 0;
        padding: 10px;
        position: absolute;
        overflow: auto;
        top: 46px;
        bottom: 0;

        a {

            font-size: pxrem(12px);
            transition: 0.25s;
            text-decoration: none;
            display: block;
            padding: 10px;
            color: #333;
            border-top: 1px solid #f1f1f1;

            &:hover, &:visited {
                border-top: 1px solid #f1f1f1;
                color: #999;
            }

        }

        li:first-child a {
            border-top: 0 none;
        }

    }

}
