@import '../../assets/scss/functions';
@import '../../assets/scss/mixins';

.prayer-times {

    padding: pxrem(10px);
    height: 100%;

    &__name {
        font-weight: bold;
    }

    &__time {
        color: #666;
    }

}

.row {

    @include clearfix;
    border-top: 1px solid #f1f1f1;
    height: 16.67%;

    &.is-active &__column {
        opacity: 1;
    }

    &:first-child {
        border-top: 0 none;
    }

    &__column {

        position: relative;
        text-align: center;
        opacity: 0.4;
        height: 100%;
        width: 50%;

        &:first-child {
            float: left;
        }

        &:last-child {
            float: right;
        }

        span {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }

    }

}
