#epitech {
  .user {
    padding: 16px 16px 0;
  }
  .project {
    padding: 0 16px 10px;
    max-height: 200px;
    overflow: auto;
    .p-timeline {
      margin: 10px 0;
      a {
        text-decoration: none;
      }
      .end_date {
        float: right;
      }
    }
  }
  .progress-linear {
    margin: 10px 0;
  }
  .rooms {
    max-height: 325px;
    overflow: auto;
  }
}
