.card {
  width: 400px;
  margin: 15px;
  position: absolute;
  z-index: 1;
  .card__title {
    justify-content: space-between;
    &.custom {
      position: absolute;
      width: 100%;
    }
    .progress-circular {
      vertical-align: middle;
    }
    .btn {
      margin: 0;
    }
  }
  .head-drag {
    cursor: grab;
  }
}
