.v-card {
  width: 400px;
  min-height: 100px;
  margin: 15px;
  position: absolute;
  overflow-x: hidden;
  .v-card__title {
    justify-content: space-between;
    &.custom {
      position: absolute;
      width: 100%;
    }
    .v-progress-circular {
      vertical-align: middle;
    }
    .btn {
      margin: 0;
    }
  }
  .head-drag {
    cursor: grab;
  }
}

// Causes bugs due to tabs in the session cards, see next updates
// .v-card:not(.muuri-item-shown) {
//   visibility: hidden;
// }
.muuri-item-dragging {
  z-index: 3 !important;
  .head-drag {
    cursor: grabbing;
  }
}
.muuri-item-releasing {
  z-index: 2 !important;
}
.muuri-item-hidden {
  z-index: 0 !important;
}
