.theme--dark {
  #apps {
    ::-webkit-scrollbar-thumb {
      background: #ddd;
    }
    ::-webkit-scrollbar-track {
      background: #666;
    }
  }
}
#apps {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  max-height: 440px;
  overflow: auto;
  .app-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    .app {
      list-style: none;
      :hover {
        background-color: rgba(0, 0, 0, .1);
      }
      div {
        cursor: pointer;
        width: 115px;
        height: 115px;
        i {
          display: block;
          width: inherit;
          height: inherit;
          background-size: 90px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
