#apps {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  max-height: 440px;
  overflow: auto;
  .app-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    .app {
      list-style: none;
      :hover {
        background-color: #f5f5f5;
      }
      a {
        width: 120px;
        height: 120px;
        i {
          display: block;
          width: inherit;
          height: inherit;
          background-size: 90px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
