#system {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper-name {
    margin-right: 20px;
    text-align: center;
    width: 50px;
  }
  .wrapper-info {
    width: 100%;
    .storage-unit {
      width: 100%;
      list-style: none;
    }
    i {
      vertical-align: middle;
    }
    .disk-name {
      text-overflow: ellipsis;
      vertical-align: middle;
    }
    .disk-capacity {
      float: right;
    }
  }
}
