#home {
  position: relative;
  .speed-dial {
    position: absolute;
    top: -35px;
    z-index: 2;
  }
  #card-container {
    position: relative;
    margin: 20px auto;
    z-index: 1;
    &.design-toolbar {
      margin: 35px auto;
    }
  }
  // Causes bugs due to tabs in the session cards, see next updates
  // .card:not(.muuri-item-shown) {
  //   visibility: hidden;
  // }
  .muuri-item-dragging {
    z-index: 3 !important;
    .head-drag {
      cursor: grabbing;
    }
  }
  .muuri-item-releasing {
    z-index: 2 !important;
  }
  .muuri-item-hidden {
    z-index: 0 !important;
  }
  // While waiting for a muuri update this is the easiest way to center the cards.
  // 1 column
  @media (max-width: 859px) {
    #card-container {
      width: 430px;
    }
  }
  // 2 columns
  @media (min-width: 860px) and (max-width: 1289px) {
    #card-container {
      width: 860px;
    }
  }
  // 3 columns
  @media (min-width: 1290px) and (max-width: 1719px) {
    #card-container {
      width: 1290px;
    }
  }
  // 4 columns
  @media (min-width: 1720px) and (max-width: 2149px) {
    #card-container {
      width: 1720px;
    }
  }
  // 5 columns
  @media (min-width: 2150px) {
    #card-container {
      width: 2150px;
    }
  }
}
