#isefac {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
  ::-webkit-scrollbar-thumb {
    background: #666;
  }
  .dates {
    max-height: 300px;
    padding-right: 10px;
    overflow: auto;
  }
}
