header {
  height: 233px;
  padding: 15px 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    &[lazy=loading] {
      filter: blur(5px);
    }
  }
  .v-toolbar {
    width: 66%;
    margin: 0 auto;
    top: 46px;
    z-index: 1;
  }
  #settings {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
  }
  .doodle {
    position: absolute;
    margin: auto;
    max-height: 100%;
    width: 100%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
  }
}
