header {
  height: 233px;
  padding: 15px 50px;
  position: relative;
  display: flex;
  align-items: flex-end;
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .toolbar {
    transform: translateX(-50%) !important;
    width: 66%;
    top: 46px;
    left: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.03);
    #typewriter {
      flex-basis: 100%;
    }
  }
  #settings {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
  }
}
