header {
  height: 233px;
  .background {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #settings {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
  }
}
