#download {
  .download {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }
    .icon {
      flex-shrink: 0;
      cursor: pointer;
      width: 38px;
      height: 38px;
      margin-right: 8px;
      overflow: hidden;
      i {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
    .fileicon {
      height: inherit;
      width: inherit;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .d-info {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 5px;
      .name {
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 13px;
      }
      .host,
      .size {
        color: #757575;
      }
    }
  }
}
