@import 'material-design-icons/iconfont/material-icons.css';
@import 'vuetify/dist/vuetify.min.css';

#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.theme--dark {
  ::-webkit-scrollbar-thumb {
    background: #ddd;
  }
  ::-webkit-scrollbar-track {
    background: #666;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: #666;
}

.v-speed-dial__list {
  align-items: flex-end !important;
}
