#settings {
  .container.card {
    padding: 30px;
    .design-layout {
      padding: 15px 0;
      .flex {
        margin: 7px;
        .design {
          padding: 5px;
          max-width: 720px;
          margin: auto;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
