#quick-links {
  max-height: 278px;
  overflow-y: auto;
  .v-list__tile__avatar {
    min-width: 29px;
  }
  ::v-deep .v-list__tile {
    height: 34px;
  }
  .v-list__tile__action {
    flex-shrink: 0;
  }
}
