#lastfm {
  overflow: hidden;
  position: relative;

  ::v-deep .v-tabs-bar {
    display: none;
  }

  .prev,
  .next {
    position: absolute;
    height: 100%;
    width: 15px;
    opacity: 0.5;
    top: 0;
    z-index: 1;
    transition: opacity .25s ease;

    &:hover {
      opacity: 0.85;
    }
  }

  .prev {
    left: 0;
    background: linear-gradient(-90deg, transparent 0%, #000000 100%);
  }

  .next {
    right: 0;
    background: linear-gradient(90deg, transparent 0%, #000000 100%);
  }

  .cover {
    position: relative;

    &:hover .overlay {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      padding-top: 10px
    }

    .overlay {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      padding-left: 10px;
      width: 100%;
      height: 100%;
      color: white;
      transition: .25s ease;
    }
  }
}
