#lastfm {
  overflow: hidden;
  .v-tabs__bar {
    display: none;
  }
  .prev, .next {
    position: absolute;
    height: 100%;
    width: 15px;
    opacity: 0.5;
    top: 0;
    z-index: 1;
    transition: opacity .25s ease;
    &:hover {
      opacity: 0.85;
    }
  }
  .prev {
    left: 0;
    background: linear-gradient(-90deg, transparent 0%, #000000 100%);
  }
  .next {
    right: 0;
    background: linear-gradient(90deg, transparent 0%, #000000 100%);
  }
  .top-grid {
    height: 200px;
    overflow: hidden;
    position: relative;
    .cover {
      position: relative;
      &:hover .overlay {
        opacity: 1;
        background: linear-gradient(0deg, transparent 0%, #000 100%);
        padding-top: 10px
      }
      .overlay {
        position: absolute;
        opacity: 0;
        bottom: 0;
        left: 0;
        padding-left: 10px;
        width: 100%;
        height: 100%;
        color: white;
        transition: .25s ease;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
