#epitech {
  .p-no-bottom {
    padding-bottom: 0;
  }
  .projects {
    max-height: 200px;
    overflow: auto;
    .project {
      margin: 10px 0;
      .end_date {
        float: right;
      }
    }
  }
  .rooms {
    max-height: 325px;
    overflow: auto;
  }
  .upcoming {
    max-height: 302px;
    overflow-y: auto;
  }
}
